@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
h1,
h2,
h3,
h4,
h5,
h6,
a {
  margin: 0;
  padding: 0;
}

.content {
	background-color: rgb(204, 204, 204);
	border-radius: 8px;
	box-sizing: border-box;
	color: #666;
	font-size: 1.6em;
	line-height: 1.4em;
	margin: 20px auto;
	margin-top: 80px;
	padding: 20px;
	width: 50%;
	max-width: 500px;
}


.login {
  max-width: 500px;
  margin: auto;
}
.login-header {
  margin: 25px;
}

.login-form {
  border: 0.5px solid #fff;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #000;
}

.login-form {
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 10%;
  margin: 5% auto;
  text-align: center;
}

.login input[type="email"],
.login input[type="password"] {
  max-width: 400px;
  width: 80%;
  line-height: 3em;
  font-family: 'Inconsolata', monospace;
  margin: 1em 2em;
  border-radius: 5px;
  border: 2px solid #f2f2f2;
  outline: none;
  padding-left: 10px;
}
.login-form button[type="submit"] {
  height: 30px;
  width: 100px;
  background: rgb(0, 131, 253);
  border: 1px solid #f2f2f2;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-family: 'Inconsolata', monospace;
  cursor: pointer;
}
.sign-up {
  color: #0985fa;
  margin-left: -70%;
  cursor: pointer;
  text-decoration: underline;
}
