<div class="content">
  <form class="login">
    <div class="login-form">
      <div class="login-header">
        <h1>Iniciar Sesión</h1>
      </div>
      <label id="email">Ingrese su correo:</label>
      <input type="email" id="email" placeholder="Username"><br>
      <label id="password">Ingrese su contraseña:</label>
      <input type="password" id="password" placeholder="Password">
      <br>
      <button type="submit" class="login-button">Ingresar</button>
      <br>
      <a class="sign-up" href="irRegistro">Registrarse</a>
    </div>
  </form>
</div>
