html {
	font-size: 16px;
    font-family: 'Lato', sans-serif;
}

body {
	background-color: #3db0ee;
	
}

.container {
	top: 260px;
	position: relative;
	justify-content: center;
	max-width: 450px;
	height: auto;
	background-color: #ffffff;
	margin:auto;
	padding-bottom: 1rem;
	border-radius: 15px;

}

.form__top {
	width: 100%;
	text-align: center;
	padding: 2rem 0 1rem;
	border-top: solid .4rem #2066d0;
	margin-bottom: 1rem;
	border-radius: 15px;
}

.form__top h2 {
	font-weight: bold;
	color: #CAC8C8;
	font-size: 18px;
}

.title {
	justify-content: center;
	text-align: center;
	color: #000000;
}

.form__reg {
	padding: 0 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.btn__form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

.input, .btn__submit, .btn__reset {
	background-color: #EFEFEF;
	padding: .5rem;
	margin: .5rem 0;
	border: none;
	border-bottom: solid #C8C8C8 .2rem;
	transition: all .5s;
}

.input:focus {
	border-bottom: solid #0093fc .2rem;
}

.btn__submit, .btn__reset {
	
	width: 40%;
	border-bottom: none;
	background-color: #31B1E5;
	color: white;
	
}


.btn__reset {
	background-color: #827c7c;
}

.btn__submit:hover {
	background-color: #4C9ED9;
}

.btn__reset:hover{
	background-color: #f8f5f1;
}
.button {
	background-color: #4C9ED9; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
