@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
	box-sizing: border-box;
}

body {
	background: #ffffff;
	background: -webkit-linear-gradient(to right, #D4D3DD, #ffffff);
    background: linear-gradient(to right, #D4D3DD, #ffffff);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Lato';
	margin: 0;
}
  
.card {
    padding: 40px;
    background: #fff;
    max-width: 900px;
    border-radius: 20px;
    margin: 20px auto;
}

.highlight {
    font-weight: bold;
    color: #294;
}


.shadow1 { 
    text-align: center;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}

.shadow2 { 
    box-shadow: 0 7px 30px -10px rgba(150,170,180,0.5);
    display: flex;
}


button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

button:focus {
    outline: 0;
}

button {
    padding: 10px 20px;
}

.button-rick{
    color: #ffffff;
    margin: 20px;
    background-color: #50d8d7;
    border-radius: 20px;
}

.button-poke-uno{
    color: #ffffff;
    margin: 20px;
    background-color: #cf3a27;
    border-radius: 20px;
}  

.button-poke{
    color: #ffffff;
    margin: 20px;
    background-color: #ee0000;
    border-radius: 20px;
} 

.button-prev{
    color: #ffffff;
    margin: 20px;
    background-color: #d8d650;
    border-radius: 20px;
} 
.button-next{
    color: #ffffff;
    margin: 20px;
    background-color: #1f6fe6;
    border-radius: 20px;
} 