<div class="content">
    <form class="tCreate">
        <div class="tCreate-form">
            <div class="tCreate-header">
            <h1>Registrar Tarea</h1>
            </div>
            <label id="titulo">Titulo:</label>
            <input type="text" id="titulo" placeholder="Ingrese su nombre"><br >
            <label id="descripcion">Descripcion:</label>
            <textarea name="" id="descripcion" cols="30" rows="10"></textarea><br >
            <br>
            <button type="submit" class="tCreate-button">Registrar</button>
            <br>
        </div>
    </form>
</div>