<div class="content">
    <div class="contenedorCards">
        <div class="cards">
            <div><img class="foto" src=""></div>
            <div>
                <small class="txtSmall">Campo1</small> 
                    <p class="txtP">Campo1.1</p>
                <small class="txtSmall">Campo2</small>
                    <p class="txtP">Campo2.1</p>
            </div>
            <div class="button-padre">
                <button class="button">Hola</button>
                <button class="button">Hola</button>
                <button class="button">Hola</button>
            </div>    
        </div>
        <div class="cards">
            <div><img class="foto" src=""></div>
            <div>
                <small class="txtSmall">Campo1</small> 
                    <p class="txtP">Campo1.1</p> 
                <small class="txtSmall">Campo2</small>  
                    <p class="txtP">Campo2.1</p>
            </div>
            <div class="button-padre">
                <button class="button">Hola</button>
                <button class="button">Hola</button>
                <button class="button">Hola</button>
            </div>  
        </div> 
    </div> 
</div>