<div class="content">
    <form class="register">
        <div class="register-form">
            <div class="register-header">
            <h1>Registrarse</h1>
            </div>
            <label id="name">Su nombre:</label>
            <input type="text" id="name" placeholder="Ingrese su nombre"><br >
            <label id="email">Su correo:</label>
            <input type="email" id="email" placeholder="Ingrese su correo"><br >
            <label id="password">Su contraseña:</label>
            <input type="password" id="password" placeholder="Ingrese su contraseña">
            <br>
            <button type="submit" class="register-button">Registrase</button>
            <br>
            <a class="log-in" href="irLogin">Iniciar Sesión</a>
        </div>
    </form>
</div>
